<div class="alin">
	<h1 [ngStyle]="{color: festiuNacional}">Festiu Nacional</h1> 
	<h1 [ngStyle]="{color: festiuRegional}">Festiu Regional</h1> 
	<h1 [ngStyle]="{color: festiuLocal}">Festiu Local</h1> 
	<h1 [ngStyle]="{color: festiuCentre}">Festiu Centre</h1>
</div>
<div class="alin2">
<div class="wrapper-calendar">
	<div class="header-calendar">
		<h1>{{seleccionarDia | date:'MMMM, yyyy'}}</h1>
	</div>
	<ol>
		<li *ngFor="let day of semana" class="day-name">{{day | slice:0:3}}</li>

        <li [style.gridColumnStart]="first ? day?.indexWeek : 'auto'"
         *ngFor="let day of seleccionarMes;let first = first">
			<span>{{day?.value}}</span>
		</li>
	</ol>
</div>
<div class="wrapper-calendar">
	<div class="header-calendar">
		<h1>{{seleccionarDia2 | date:'MMMM, yyyy'}}</h1>
	</div>
	<ol>
		<li *ngFor="let day2 of semana" class="day-name">{{day2 | slice:0:3}}</li>

        <li [style.gridColumnStart]="first ? day2?.indexWeek2 : 'auto'"
         *ngFor="let day2 of seleccionarMes2;let first = first">
			<span>{{day2?.value2}}</span>
		</li>
	</ol>
</div>
</div>